/* TestimonialCarousel.css */

.carousel .slide {
    display: flex;
    justify-content: center;
}

.carousel .slide img {
    border-radius: 50%;
    margin-bottom: 1rem;
}

.carousel .slide .legend {
    background: none;
    padding: 0;
}

.carousel .control-dots .dot {
    background-color: #3490dc; /* Change to desired color */
    box-shadow: none;
}

.carousel .control-dots .dot.selected {
    background-color: #2779bd; /* Change to desired color */
}
